html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  line-height: 1.4;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body{
  font-family: "Arial", Segoe UI, Tahoma, sans-serifl, Helvetica Neue, Helvetica;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
}
.header{
  background: url("../img/54049hd.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.header-elements{
  position: absolute;
  top:20%;
  left:10%;
  transform: translateY(-50%);
}
.header-text{
  font-size: 50px;
  margin-bottom: 5px;
  animation-name: moveInRight;
  animation-duration:2s;
}
@keyframes moveInRight{
  0%{
    transform:translateX(-20px);
  }
  80%{
    transform: translateX(10px);
  }
  100%{
    transform: translate(0);
  }
}
.primary{
  display: block;
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: 15px;
}
.secondary{
  display: block;
}
.thirdary{
  display: block;
}
.btn-white:link,
.btn-white:visited{
  font-family: 'Nunito', sans-serif;
  letter-spacing: 1px;
  display: inline-block;
  background: rgb(255, 250, 250);
  padding:15px 35px;
  border-radius: 100px;
  color: black;
  text-decoration: none;
  animation-name: fadeIn;
  animation-duration: 3s;
}
@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.btn-white:hover{
  background: rgb(230, 230, 230);
  transform: translateY(-2px);
  box-shadow:1px 1px 30px rgba(0, 0, 0, 0.38);
  transition: box-shadow 1s;
}
.btn-white:active{
  transform: translateY(2px);
  box-shadow:1px 1px 20px rgba(0, 0, 0, 0.38);
}
.main {
  position: relative;
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #5D6D7E, #566573);
  flex-wrap: wrap;
  gap: 1rem;
}
.main button {
  padding: 10px 12px;
  margin: 0 10px;
}

#logo {
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 25px;
  color: #ccc;
}
/* parte derecha e izquierda */
.right, .left {
  position: relative;
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-basis: 20rem;
  flex-grow: 1;
  min-width: 31rem;
  flex-wrap: wrap;
}
/* imagen de la musica */
.left img {
  height: 35px;
  width: 80%;
  border-radius: 15px;
  box-shadow: 1px 0 20px 12px rgba(240, 240, 240, 0.2);
}

/* rango del slider */
input[type="range"] {
  -webkit-appearance: none;
  width: 50%;
  outline: none;
  height: 5px;
  margin: 0 15px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: #FF8A65;
  border-radius: 50%;
  cursor: pointer;
}
.right input[type="range"] {
  width: 40%;
}

/* Parte del volumen */
.left {
  height: 0;
}
.left .volume {
  position: absolute;
  bottom: 10%;
  left: 0;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.left .volume p {
  font-size: 15px;
}
.left .volume i {
  cursor: pointer;
  padding: 8px 12px;
  background: #FF8A65;
}
.left .volume i:hover {
  background: rgba(245, 245, 245, 0.1);
}
.volume #volume_show {
  padding: 8px 12px;
  margin: 0 5px 0 0;
  background: rgba(245, 245, 245, 0.1);
}
.informacion {
  margin-top: 10%;
  width: 100%;
}
/* parte izquierda */
.right {
  height: 14em;
}
.right .middle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right .middle button {
  border: none;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  transition: 0.5%;
  background: rgba(245, 245, 245, 0.1);
}
.right #title {
  position: absolute;
  top: 6px;
  left: 50%;
  transform: translateX(-50%);
  text-transform: capitalize;
  color: #fff;
  font-size: 3em;
}
.right #artist {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  text-transform: capitalize;
  color: #fff;
  font-size: 2em;
}
#play {
  background: #FF8A65;
}
.right button:hover {
  background: #FF8A65;
}
.right i:before {
  color: #fff;
  font-size: 20px;
}
.right .show_song_no {
  position: absolute;
  top: 10px;
  width: 45px;
  height: 20px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  color: #fff;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
}
.right .show_song_no p:nth-child(2) {
  margin: 0 5px;
}
/* Comienza diseño del chat */
.container {
  width: 70%;
  margin-right: 25%;
  text-align: center;
  margin-top: 2em;
  background: linear-gradient(to right, #5D6D7E, #566573);
  border-radius: 5px;
}
.chat-container {
 width: 95%;
 height: 50vh;
 overflow-y: scroll;
 background: #09ED53;
 margin: 0 auto;
 padding: 5px;
 border-radius: 12px;
}
.caja-chat {
  width: 90%;
  height: 400px;
}
.chat {
  width: 100%;
  background-color: #6495ed;
}
.datos-chat {
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid silver;
  font-weight: bold;
  font-family: sans-serif, Helvetica;
  display: flex;
}
.campo-chat {
  width: 95%;
  height: 40px;
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
}
.campo-mensaje {
  width: 95%;
  height: 2.5em;
  border-radius: 5px;
  border: 1px solid grey;
  color: #000;
}
.campo-chat, .campo-mensaje {
  margin-bottom: 3px;
}
.name-cliente {
  background-color: #cfe2f3;
  padding: 4px 30px 4px 4px;
  border-radius: 5px;
  color: #1c62c4;
}
.msg-cliente {
  flex-grow: 5;
  background-color: #fbf8f6;
  border-radius: 5px;
  color: #2f91da;
}
.btn-enviar {
  margin-top: 8px;
}
/* estilos para los botones del chat(inicio de sesion)*/
.botones {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 1em;
}
.btn {
  padding: 2px 4px 4px 2px;
  border-radius: 5px;
  width: 7em;
  height: 3em;
  text-align: center;
  text-decoration: none;
  border: none;
  margin-left: 1em;
  cursor: pointer;
  font-weight: 750;
}
.btn-success {
  background-color: #63E05B;
}
.btn-danger {
  background-color: #EB1C13;
  color: #fff;
}
